
  <button
    class="AB-icon-btn"
    role="button" type="button" aria-hidden="true" aria-label="abisql">
    <!-- (click)="app_SQL()"> -->

    <svg
      class="AB-icon-svg"
      aria-hidden="true" focusable="false" role="img"
      width="32" height="32" viewBox="0 0 32 32"
      style="user-select:none; overflow:hidden;">
      <path class="AB-icon-svg-st2 AB-icon-svg-hover-b" d="M15.3,22.5c2.9,1,5.9,1.5,8.9,1.4c3,0.1,6-0.4,8.9-1.4c2.2-0.9,3-1.8,3-2.4v-4.3c-0.8,0.5-1.6,1-2.5,1.3
          c-3,1.1-6.2,1.6-9.4,1.6c-3.2,0.1-6.4-0.5-9.4-1.6c-0.9-0.3-1.7-0.8-2.5-1.3V20C12.3,20.7,13.1,21.7,15.3,22.5z M15.3,30.5
          c1,0.4,2.1,0.7,3.1,0.9c1.9,0.4,3.8,0.6,5.8,0.5c1.9,0,3.9-0.2,5.8-0.5c1.1-0.2,2.1-0.5,3.1-0.9c2.2-0.9,3-1.8,3-2.4V24
          c-0.6,0.4-1.3,0.7-2,1c-3.2,1.1-6.5,1.7-9.9,1.6c-3.4,0.1-6.7-0.5-9.9-1.6c-0.7-0.3-1.4-0.6-2-1v4.1C12.3,28.7,13.1,29.7,15.3,30.5z
          M24.2,40.2c6.6,0,11.9-2.1,11.9-4.7v-3.4c-0.6,0.4-1.2,0.7-1.8,0.9l-0.2,0.1c-3.2,1.1-6.5,1.7-9.9,1.6c-3.4,0.1-6.7-0.5-9.9-1.6
          c-0.1,0-0.1-0.1-0.2-0.1c-0.6-0.3-1.3-0.6-1.8-0.9v3.4C12.3,38.1,17.6,40.2,24.2,40.2z M24.2,6.6c6.6,0,11.9,2.1,11.9,4.7
          S30.8,16,24.2,16s-11.9-2.1-11.9-4.7S17.6,6.6,24.2,6.6z"/>
    </svg>

  </button>

