
.git
.gitignore
.dockerignore

tmp
log
test
README.md

.env
.env.prod.aws
.env.*

node_modules 

/tmp
/log
/node_modules

.*/node_modules
.*/.vite-temp
.vite

dist


/public/assets 
/public/vite


# user uploads – live in Docker volume
public/system
public/system/**

storage/*

..README
..README/**
