
.user-workspace-footer {
  z-index: var(--z-index-footer-50);
  height: var(--v-footer-h);
  background: var(--color-bg-prime);
  border-bottom: 1px solid var(--color-border-prime);
  border-left: 1px solid var(--color-border-prime);
  border-right: 1px solid var(--color-border-prime);
}

