
/* local utilities to reduce repetition */
@mixin size-lock-w($w) { width: $w; min-width: $w; max-width: $w; }
@mixin size-lock-h($h) { height: $h; min-height: $h; max-height: $h; }
@mixin size-lock($w, $h) { @include size-lock-w($w); @include size-lock-h($h); }

.sidebar {
  @include size-lock(var(--v-sidebar-width), 100%);
  background: var(--color-site-secondary-bg);
  border-right: 1px solid var(--color-site-secondary-line);
  color: var(--color-fonts-body-sidebar);
  overflow: hidden;
  transition: width 200ms ease;
}

/* Utilities classes Stimulus Controller will toggle */
.sidebar--expanded  { @include size-lock(var(--v-sidebar-width), 100%); }
.sidebar--collapsed { @include size-lock(var(--v-sidebar-collapsed-width), 100%); }

@media (max-width: 1000px) {
  .sidebar:not(.sidebar--collapsed) {
    width: 0 !important;
    display: none;
    pointer-events: none;
  }
}


//on individual text hover
//color(--color-fonts-body-sidebar-hover);
