<!--<div class="workspace-wrapper" data-controller="user-workspace">-->

<!--  <aside data-user-workspace-target="explorer" class="user-workspace-expl is-hidden">-->
<!--  </aside>-->

<!--  <main class="user-workspace-edit">-->
<!--    <header class="edit-title">-->
<!--      <div data-user-workspace-target="tabBar" class="tab-bar"></div>-->
<!--    </header>-->

<!--    <div data-user-workspace-target="workspaceMain" class="edit-body">-->
      <%# If we are at /admin with no params, show the welcome screen %>
      <%#= render "admin/management/workspace/welcome_screen" %>
<!--    </div>-->
<!--  </main>-->

<!--</div>-->

my workspace for admin
