<turbo-stream action="append" target="flash-registry">
  <template>
    <div class="flash-message flash-notice" data-controller="flash">
      <%= message %>
    </div>
  </template>
</turbo-stream>

