
<br>
<%= link_to "EN", {locale: "lv"} %> |
<%= link_to "LV", {locale: "en"} %>
<br>

<%=  t("flashes.success_create")%>

<br>
<div class="theme-switcher">
  <button type="button" data-theme="light">Light</button>
  <button type="button" data-theme="dark">Dark</button>
  <button type="button" data-theme="terra">terra</button>
  <button type="button" data-theme="companyA">companyA</button>
</div>

<br>
<div class="font-switcher">
  <button type="button" data-font="system">System</button>
  <button type="button" data-font="sans">Sans</button>
  <button type="button" data-font="serif">Serif</button>
  <button type="button" data-font="mono">Mono</button>
</div>


