<section>

  <div class="T-signin-title">Terms of Service</div>
  <p>Last updated: <%= Date.today.to_s %></p>

  <div class="T-signin-title">1. Acceptance of Terms</div>
  <p>By accessing or using this service, you agree to be bound by these Terms.</p>

  <div class="T-signin-title">2. Use of the Service</div>
  <p>Don’t break the law, abuse the service, or interfere with others’ use.</p>

  <div class="T-signin-title">3. Liability</div>
  <p>Provided “as is”. To the fullest extent permitted by law…</p>


</section>

