<div class="article-layout">

  <div class="title-article-h1">
      <h1>Check your inbox!</h1>
  </div>

  <div class="title-article-h3">
        We've sent a magic link to your email address.
        Please click it to verify your account and finish the sprint.
  </div>


  <div class="title-article-h1">
  <div class="sub-title-article-h1">
      <%= link_to "Back to Login", new_session_path, class: "signin__create-btn" %>
  </div>
  </div>

</div>

