<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%= I18n.locale %>">

  <head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <style>
        a { color: #a11d21; }
        p { margin: 5px; }

        .ghost_button{
            margin-top: 0;
            box-shadow: none;
            background-color: transparent;
            border: 1px solid #A55;
            padding: 5px;
            color: #000;
            border-radius: 3px;
            display: inline-block;
            text-decoration: none
        }

        .social_buttons a{text-decoration: none;}
        .contact_info a{text-decoration: none; color: #000000;}
        .grey{ color: #999999; }
        .red{ color: #F55; }
        .small{ font-size: 13px;}
        .disabled_text{ opacity: 0.65; }
        .with_padding{padding: 5px;}
        .with_border{ border-top: 1px solid #AAAAAA; }
        .right-align{ text-align: right;}
    </style>

  </head>
  <body>
    <table cellpadding="0" border="0" cellspacing="0" width="100%" bgcolor="#dddddd">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <br>
            <br>
            <!-- logo + link -->
            <br>
            <br>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <%= yield %>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top" style="padding: 20px 0 30px 0">
            <p>
              <%= link_to root_url, root_url %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
