
<div
  data-controller="header-a"
  data-header-a-id-value="019a8765-5973-76be-b2e1-5fbc1ed8e696"
  class="header-a">

  <div data-header-a-target="progress"
       class="header-a__progress">
  </div>

</div>

