
<div class="article-layout">

  <div class="title-article-h1">
    <h1>Check your inbox.</h1>
  </div>

  <div class="title-article-h3">
    <h3>We've sent a link to reset your password.</h3>
  </div>


</div>