/* Light */
html[data-theme="light"] {
  color-scheme: light;

  --color-site-bg: rgb(255, 255, 255);
  --color-site-secondary-bg: rgb(246, 248, 250);
  --color-site-secondary-line: rgb(209, 217, 224);
  --color-site-header-a-loading-bg: rgb(229, 9, 9);
  --color-site-header-a-bg: rgb(229, 9, 9);
  --color-site-header-b-bg: rgb(232, 235, 242);
  --color-site-header-b-search-bg: rgb(232, 235, 242);
  --color-site-header-b-line: rgb(173, 178, 187);
  --color-site-header-b-line-active: rgb(249, 309, 202);
  --color-site-header-b-line-active-lighter:  rgb(173, 175, 189);
  --color-site-header-b-hover-bg: rgb(230, 231, 246);
  --color-site-header-b-svg: rgb(173, 178, 187);
  --color-site-header-c-bg: rgb(22, 24, 29);
  --color-site-header-c-line: rgb(73, 75, 89);
  --color-site-footer-bg: rgb(255, 255, 255);
  --color-site-footer-line: rgb(223, 228, 233);
  --color-site-error-bg: rgb(225, 23, 83);
  --color-site-info-bg: rgb(255, 247, 208);

  /* font colors */
  --color-fonts-h1: rgb(25,25,28);
  --color-fonts-h2: rgb(25,25,28);
  --color-fonts-h3: rgb(25,25,28);
  --color-fonts-h4: rgb(25,25,28);
  --color-fonts-h5: rgb(25,25,28);
  --color-fonts-h6: rgba(25, 25, 28, 0.7);
  --color-fonts-body: rgb(25,25,28);
  --color-fonts-body-light: rgb(94, 94, 96);
  --color-fonts-body-link: rgb(71, 139, 230);
  --color-fonts-code: rgb(32, 33, 36);
  --color-fonts-header: rgb(48, 62, 40);
  --color-fonts-body-sidebar: rgb(107,107,107);
  --color-fonts-body-sidebar-hover: rgb(25,25,28);

  /* selection */
  --color-selection-workspace: #c34b33;
  --color-selection-sidebar: #c34b33;
  --color-selection-color: #ffffff;
  --color-grid-border: rgb(209, 209, 210);
  --color-grid-border-hover: rgb(209, 209, 210);
  --color-errors-bg: rgb(251, 214, 208);
  --color-errors-color: rgb(214, 110, 93);

  /* extra */
  --fg: rgb(232, 230, 230);
  --surface: rgb(232, 230, 230);
  --border: rgb(232, 230, 230);
  --accent: rgb(232, 230, 230);
  --muted: rgb(232, 230, 230);
  --success: rgb(232, 230, 230);
  --warning: rgb(232, 230, 230);
  --error: rgb(232, 230, 230);
  --c-nav-bg: rgb(232, 230, 230);
  --c-nav-line: rgb(232, 230, 230);
  --ct-nav-title: rgb(232, 230, 230);
  --modal-bg: rgb(232, 230, 230);
  --modal-bg-shadow: rgb(58, 58, 58);

  --C-flash-bg: rgb(255, 255,200);
  --C-flash-border: rgb(32, 30, 30);
  --C-flash-color: rgb(25, 25, 28);
  --C-flash-box-shadow: rgb(0, 0, 0);






}




