
//  BORDER RADIUS added to :root
:root {

  --border-radius-none: 0px;
  --border-radius-small: 10px;
  --border-radius-medium: 15px;
  --border-radius-large: 20px;
  --border-radius-X-large: 25px;

}

.b1dg { border: 1px dashed green;}
.b1dr { border: 1px dashed red;}
.b1db { border: 1px dashed blue;}

.b2dg { border: 2px dashed green;}
.b2dr { border: 2px dashed red;}
.b2db { border: 2px dashed blue;}

.b3dg { border: 3px dashed green;}
.b3dr { border: 3px dashed red;}
.b3db { border: 3px dashed blue;}