
@use "@styles/_root/mixins";

/* for themes */
:root {

  --color-site-bg: var(--color-site-bg);
  --color-site-secondary-bg: var(--color-site-secondary-bg);
  --color-site-secondary-line: var(--color-site-secondary-line);
  --color-site-header-a-loading-bg: var(--color-site-header-a-loading-bg);
  --color-site-header-a-bg: var(--color-site-header-a-bg);
  --color-site-header-b-bg: var(--color-site-header-b-bg);
  --color-site-header-b-line: var(--color-site-header-b-line);
  --color-site-header-b-line-active: var(--color-site-header-b-line-active);
  --color-site-header-b-line-active-lighter: var(--color-site-header-b-line-active-lighter);
  --color-site-header-b-svg: var(--color-site-header-b-svg);
  --color-site-header-b-search-bg: var(--color-site-header-b-search-bg);
  --color-site-header-c-bg: var(--color-site-header-c-bg);
  --color-site-header-c-line: var(--color-site-header-c-line);
  --color-site-footer-bg: var(--color-site-footer-bg);
  --color-site-footer-line: var(--color-site-footer-line);
  --color-site-error-bg: var(--color-site-error-bg);
  --color-site-info-bg: var(--color-site-info-bg);

  /* font colors */
  --color-fonts-h1: var(--color-fonts-h1);
  --color-fonts-h2: var(--color-fonts-h2);
  --color-fonts-h3: var(--color-fonts-h3);
  --color-fonts-h4: var(--color-fonts-h4);
  --color-fonts-h5: var(--color-fonts-h5);
  --color-fonts-h6: var(--color-fonts-h6);
  --color-fonts-body: var(--color-fonts-body);
  --color-fonts-body-light: var(--color-fonts-body-light);
  --color-fonts-body-link: var(--color-fonts-body-link);
  --color-fonts-code: var(--color-fonts-code);
  --color-fonts-header: var(--color-fonts-header);
  --color-fonts-body-sidebar: var(--color-fonts-body-sidebar);
  --color-fonts-body-sidebar-hover: var(--color-fonts-body-sidebar-hover);
  --color-fonts-header-b: var(--color-fonts-header-b);

  /* selection */
  --color-selection-workspace: var(--color-selection-workspace);
  --color-selection-sidebar: var(--color-selection-sidebar);
  --color-selection-color: var(--color-selection-color);
  --color-grid-border: var(--color-grid-border);
  --color-grid-border-hover: var(--color-grid-border-hover);
  --color-errors-bg: var(--color-errors-bg);
  --color-errors-color: var(--color-errors-color);

  /* extra */
  --fg: var(--c-fg);
  --surface: var(--surface);
  --border: var(--border);
  --accent: var(--accent);
  --muted: var(--muted);
  --success: var(--success);
  --warning: var(--warning);
  --error: var(--error);
  --c-nav-bg: var(--c-nav-bg);
  --c-nav-line: var(--c-nav-line);
  --ct-nav-title: var(--ct-nav-title);
  --modal-bg: var(--modal-bg);
  --modal-bg-shadow: var(--modal-bg-shadow);


  /* not changing  - not changing  - not changing */
  /* sign in colors */
  --color-vivente-icon-lines: #23313b;
  --color-vivente-icon-circe: transparent;
  --color-vivente-icon-grp: rgba(0, 0, 0, 0);
  --color-vivente-icon-grp-hover: #220f5f;

  --color-signin-bg: rgb(255, 255, 255);
  --color-signin-bg-line: rgb(232, 232, 232);
  --color-signin-input-border: rgb(116, 121, 132);
  --color-signin-btn-shadow-active: rgb(180, 180, 180);
  --color-signin-btn-shadow: rgb(210, 210, 210);
  --color-signin--login-bg: rgb(255, 255, 255);
  --color-signin-proceed-btn-bg: rgb(243, 243, 243);
  --color-signin-proceed-btn-line: rgb(224, 224, 224);
  --color-signin-h_icont_bg: rgb(95, 99, 104);
  --color-signin-btn-bg-active: rgb(236, 236, 236);

  --font-color-signin__title: rgb(33, 33, 36);
  --font-color-signin__email: rgb(33, 33, 36);
  --font-color-signin__input-helper: rgb(13, 50, 106);
  --font-color-signin__input: rgb(33, 33, 36);
  --font-color-signin__forgot: rgb(181, 36, 36);
  --font-color-signin__create: rgb(90, 90, 106);
  --font-color-signin__proceed: rgb(71, 76, 101);
  --font-color-signin__proceed-hover: rgb(71, 76, 101);
  --font-color-signin__footer: rgb(138, 138, 138);
  --font-color-signin__footer-hover: rgb(49, 49, 50);

  --color-spinner-fill:rgb(216, 216, 216);


  --C-T-app-h-lines:rgba(33,33,38,.70);
  --C-T-app-h-search-lines:rgba(208,215,222);
  --C-T-app-h-search-line-active:rgb(20, 113, 219);

  --color-reg_progress-bg: rgba(232, 230, 230, 0.5);
  --color-reg_progress-bg-active: rgba(232, 230, 0, 0.5);
  --color-reg_progress-bg-complete: rgba(132, 230, 230, 0.5);

  --color-reg-proceed-btn-line: rgb(158, 158, 158);
  --color-reg-proceed-btn-bg: rgb(158, 158, 158);

}

*, *::before, *::after {
  box-sizing: border-box;
}

.hidden, .Hidden, .HIDDEN { display: none; }
.display, .Display, .DISPLAY { display: block; }

html, body {
  height: 100%;
  background: var(--color-site-bg);
  margin: 0;
}
body { height: 100%; width: 100%; margin: 0; }

/* Root page wrapper to enable sticky footer layout */
[data-controller="layouts"] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex-direction: column;
}
.layout > * {
  width: 100%; /* Every direct child (header, workspace, footer) must be full width */
}
.site-header-a,
.site-header-b,
.site-footer{
  flex-shrink: 0;
}
/* Ensure the middle part (where .workspace lives) stretches */
.content {
  display: flex;
  flex: 1 1 auto; /* Grow to fill space, basis auto */
  min-height: 0;   /* CRITICAL: allows children to be smaller than content */
  width: 100%;
}
.workspace {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; /* Fill the .content area */
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: antiquewhite;

  //background-image: url("@assets/images/session_bg_img1.jpg");
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  //
  //@include mixins.for-size(600px) {
  //  background-image: none;
  //}
}

.spacer {
  margin-top: 40px;
}
