<tr>
  <td>
    <%= link_to row.abbr_name, ui_abbr_abbr_publication_source_path(row, locale: I18n.locale) %>
  </td>
  <td><%= row.revision ? "yes" : "no" %></td>
  <td><%= row.modified_date %></td>
  <td>
    <%= link_to "Edit", edit_ui_abbr_abbr_publication_source_path(row, locale: I18n.locale) %>
  </td>
</tr>
