<template data-user-workspace-target="tabTemplate">
  <div class="workspace-tab" data-url="" data-action="click->user-workspace#fn_loadSectionFromTab">
    <span class="tab-title"></span>
    <span class="tab-close" data-action="click->user-workspace#fn_closeTab">×</span>
  </div>
</template>

