
@font-face {
  font-family: "Noto Serif";
  src: url("@fonts/NotoSerif/NotoSerif-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url("@fonts/NotoSerif/NotoSerif-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url("@fonts/NotoSerif/NotoSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url("@fonts/NotoSerif/NotoSerif-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

